.header_page{
    padding-top: 90px;
}
.services_container{
    padding: 40px 0;
}
.services{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
.service{
    background: var(--blue);
    width: 100%;
    min-height: 200px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--white);
}
.service h3{
    margin-top: 10px;
}

@media (min-width:900px){
    .services{
        justify-content: space-between;
    }
    .service{
        width: 250px;
        text-align: center;
        padding: 10px;
    }
}